{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block heading %} Login {% endblock heading %}
{% block content %} 
    <div class="postform">
        <form action="{% url 'posts:userlogin' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <inout class="btn btn-success" type="submit" value="Login Now!">
            <a href="{% url 'github_login' %}" class="btn btn-dark"><i class="fa fa-github" aria-hidden="true>"></i>
            Login Using Github</a>
            <a href="{% url 'twitter_login' %}" class="btn btn-primary"><i class="fa fa-twitter" aria-hidden="true>"></i>
            Login Using Twitter</a>
            
            <a href="{% url 'instagram_login' %}" class="btn btn-success"><i class="fa fa-instagram" aria-hidden="true>"></i>
            Login Using Instagram</a>
 
               
        </form>
    </div>
{% endblock content %} 