{% extends "base.html" %}
{% load share %}
{% block heading %} Detail {% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    {% if item.img %}
        <img src="{{item.img.url}}" alt="" class="img-responsive">
    {% endif %}
  
</div>
	<ul>
		<a>{{item.title}} </a>
		<li>{{item.content}}</li>
		<li>{{item.slug}}</li>

	</ul>

<a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
<i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<a class="btn btn-outline-primary" href="https://twitter.com/home?status={{item.content|truncatechars:140|share}}%20{{request.build_absolute_uri}}">
<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<a class="btn btn-primary" href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{items.title|share}}&summary={{items.content|share}}&source={{request.build_absolute_uri}}">
<i class="fa fa-linkedin" aria-hidden="true"></i>
</a>





    <div class="btn btn-secondary" onclick="ajax_like()">
        <span id="likes_count">{{like_count}}</span>
        <span><i id="heart" class="fa fa-heart {% if liked %}text-danger{% endif %}" aria-hidden="true"></i></span>
    </div>
    {% include "comments.html" %}

    <script>
        function ajax_like()
        {
            $.ajax(
            {
                type:'GET',
                url:'{% url "posts:like_button" post_slug=item.slug %}',
                error: function(){
                    console.log("Opps, you've made a critical error!");
                },
                success:function(data){
                    $("#likes_count").text(data.like_count);
                    if(data.action==="like"){
                        $("#heart").addClass("text-danger");
                    }
                    else{
                        $("#heart").removeClass("text-danger");
                    }
                },

            });

        }
    </script>



{% endblock %}
